.App {
  text-align: center;
    background-color: beige;
}


#header {
  background-color: blue;
  padding: 20px;
}

.dishes-container {
  padding-left: 20px;
  text-align: left;
}

li {
  padding-bottom: 25px;
}

.create-dish {
  padding-top: 50px;
}

.style-bullets-checkboxes {
  display: flex;
  justify-content: space-around;
}